.ua-news-spotlight {
	padding: 2rem 0;
}

.ua-news-row {
	width: 100%; 
	border-bottom: 2px solid #eef1f1;
	padding: 0 0 1rem;
	margin-bottom: 2rem;
}

.ua-news-row:after {
    content: "\0020";
    display: block;
    clear: both;
}

.ua-news-photo img {
	max-width: 100%;
	height: auto;
	padding: 0 1.5rem 1rem 0;
}

.ua-news-title h3 {
	padding: 0;
	margin: 0 0 0.2rem;
	font-size: 1.4rem;
}

.ua-news-published span {
	display: block;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	color: #999;
	padding-bottom: 4px;
	padding-bottom: 0.2rem;
}

@media (min-width: 60em) {
    .ua-news-spotlight .ua-news-row {
        display: inline-block;
        vertical-align: top;
        width: 32%;
        padding: 0 1rem;
        border: 0 none;
    }
	.ua-news-page .ua-news-row .ua-news-photo {
		float: left;
		padding: 0 1rem 1rem 0;
	}
	.ua-news-spotlight .ua-news-row .ua-news-photo img {
		height: auto;
		padding-right: 0;
	}
	.ua-news-row .ua-news-title h3 {
		display: block;
		margin-top: 1 rem;
	}
}
